[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Virtual Studio Host
Comment=Virtual Studio Host
Exec=/home/pi/Documents/C/VSHost.Wayland/VSHost
Icon=/home/pi/Documents/C/VSHost.Wayland/images/VSHost.png
Terminal=false
Path=/home/pi/Documents/C/VSHost.Wayland
GenericName=Virtual Studio Host
StartupNotify=false
Name[tr_TR]=Virtual Studio Host
Categories=GNOME;GTK;Audio;Video
